<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfAdBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WpfAdBook.Properties.Settings>
            <setting name="DomainOrDc" serializeAs="String">
                <value>LDAP://localhost:389/CN=users,DC=npx,DC=local</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectToDefaultDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCurrentUserCredentials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerializedFilterRules" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterRules" serializeAs="String">
                <value />
            </setting>
            <setting name="StrictFiltering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWndSize" serializeAs="String">
                <value>600, 700</value>
            </setting>
            <setting name="MainWndPos" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MainWndMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfAdBook.Properties.Settings>
    </userSettings>
</configuration>