<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?define ProductName = "Active Directory Contact Book" ?>
  <?define ProductVersion = "1.1.2" ?>
  <?define ProductFullVersion = "1.1.2.1" ?>
  <?define ProductAuthor = "Andrei Goncharov" ?>
  <?define ProductAppFolder = "InstallLocation" ?>

  <?if $(var.Platform) = x64 ?>
    <?define ProductDisplayName = "$(var.ProductName) 64-bit" ?>
    <?define ProductId = "*" ?>
    <?define ProductUpgradeCode = "cb561d1a-6073-4c1d-a92f-f6a343d149b5" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
    <?define ProductDisplayName = "$(var.ProductName)" ?>
    <?define ProductId = "*" ?>
    <?define ProductUpgradeCode = "9A8D5504-E289-42E6-870A-C01DE9AF7187" ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>
  <!--
	<Product Id="*" Name="Active Directory Contact Book" Language="1033" Version="1.1.1.1" Manufacturer="Goncharov Andrei" UpgradeCode="cb561d1a-6073-4c1d-a92f-f6a343d149b5">
  -->
  <Product Id="$(var.ProductId)" Name="$(var.ProductDisplayName) (v$(var.ProductVersion))" Language="1033"
           Version="$(var.ProductFullVersion)" Manufacturer="$(var.ProductAuthor)" UpgradeCode="$(var.ProductUpgradeCode)">
    <!--
		<Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />
    -->
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" Manufacturer="$(var.ProductAuthor)" Platform="$(var.Platform)" />
    
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="cb561d1a-6073-4c1d-a92f-f6a343d149b5">  
      <UpgradeVersion Minimum="1.0.0.0" Maximum="99.0.0.0" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade> 
    
    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" /> 
    </InstallExecuteSequence>
    
		<!-- <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." /> -->
		<MediaTemplate EmbedCab="yes"/>
    
		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductShortcuts" />
      <MergeRef Id="VCRedist"/>
      <MergeRef Id="MFCRedist"/>
		</Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="gpl.rtf" />  
	</Product>
      
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!--      
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Active Directory Contact Book" />
			</Directory>
      -->
      <Directory Id="$(var.PlatformProgramFilesFolder)" >
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)"/>
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ShortcutsDir" Name="Active Directory Contact Book" />
      </Directory>
		</Directory>

    <?if $(var.Platform) = x64 ?>
      <DirectoryRef Id="TARGETDIR"> 
        <Merge Id="VCRedist" SourceFile="c:\\Program Files (x86)\\Common Files\\Merge Modules\\Microsoft_VC140_CRT_x64.msm" DiskId="1" Language="0"/>
        <Merge Id="MFCRedist" SourceFile="c:\\Program Files (x86)\\Common Files\\Merge Modules\\Microsoft_VC140_MFC_x64.msm" DiskId="1" Language="0"/>      
      </DirectoryRef>
    <?else ?> 
      <DirectoryRef Id="TARGETDIR">
        <Merge Id="VCRedist" SourceFile="c:\\Program Files (x86)\\Common Files\\Merge Modules\\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0"/>
        <Merge Id="MFCRedist" SourceFile="c:\\Program Files (x86)\\Common Files\\Merge Modules\\Microsoft_VC140_MFC_x86.msm" DiskId="1" Language="0"/>
      </DirectoryRef>
    <?endif ?>
  </Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="CMP_AdBookExe" Guid="BA5B3A53-3CAA-4DA1-962B-97BCAC532E61" >
        <?if $(var.Platform) = x64 ?>
          <File Id="FILE_INSTALLFOLDER_AdBookExe"
                Name="AdBook.exe"
                Source="../../x64/Release/AdBook.exe"
                KeyPath="yes" />
        <?else?>
          <File Id="FILE_INSTALLFOLDER_AdBookExe"
                Name="AdBook.exe"
                Source="../../Release/AdBook.exe"
                KeyPath="yes" />
        <?endif?>
      </Component>
      <Component Id="CMP_EskimoDll" Guid="7CBF2D58-D25F-462D-9507-0EA210B07F13" >
        <?if $(var.Platform) = x64 ?>
          <File Id="FILE_INSTALLFOLDER_EskimoDll"
                Name="Eskimo.dll"
                Source="../../x64/Release/Eskimo.dll"
                KeyPath="yes" />
        <?else?>
        <File Id="FILE_INSTALLFOLDER_EskimoDll"
                Name="Eskimo.dll"
                Source="../../Release/Eskimo.dll"
                KeyPath="yes" />
        <?endif?>
      </Component>
      <Component Id="CMP_GplLicence" Guid="224100D8-DA70-4FA5-B8DA-24E576B991FA" >
        <File Id="FILE_INSTALLFOLDER_GplRtf"
              Name="gpl.rtf"
              Source="gpl.rtf"
              KeyPath="yes" />
      </Component>
		</ComponentGroup>
    
    <ComponentGroup Id="ProductShortcuts" Directory="ShortcutsDir">
      <Component Id="CMP_MainExecutableShortcut"
                 Guid="E184B1FC-B151-4D65-88AF-81BC3F8669E4">
        
        <Shortcut Id="MainExecutableShortcut"
                  Name="Active Directory Contact Book"
                  Description="Start 'Active Directory Contact Book'"
                  Target="[INSTALLFOLDER]AdBook.exe" />
        
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall 'Active Directory Contact Book'"
                  Description="Uninstall 'Active Directory Contact Book'"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]" />
        
        <RemoveFolder Id="RemoveShortcutsDir"
                      On="uninstall" />
        
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\AdBook"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
	</Fragment>
</Wix>
