<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WfAdBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <WfAdBook.Properties.Settings>
            <setting name="DomainOrDc" serializeAs="String">
                <value>LDAP://localhost:389/CN=users,DC=npx,DC=local</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="ConnectDefaultDomain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCurrentUserCredentials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 19</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="SettingsFormLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="MainFormSplitterDistance" serializeAs="String">
                <value>136</value>
            </setting>
            <setting name="MainFormBottomSplitterDistance" serializeAs="String">
                <value>286</value>
            </setting>
            <setting name="MainFormBottomRightSplitterDistance" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MainFormPersonListColumnSizes" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormPersonListColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormPersonDetailsColumnSizes" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormFilterListColumnSizes" serializeAs="String">
                <value />
            </setting>
            <setting name="ModifyAttrFormLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="SelectPhotoDlgInitDir" serializeAs="String">
                <value />
            </setting>
        </WfAdBook.Properties.Settings>
    </userSettings>
</configuration>
